body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0; /* Ensures it spans the full width */
    height: 5%;
    width: 100%;
    /* Add padding/margin to your main content to prevent overlap */
    background-color: #3dc662;
    color: #ffffff;
    padding: 0px 10px;
    display: flex;
}

header h1 {
    display: inline-block;
    height: 100%;
    margin: auto;
    text-align: center;
}

header ul {
    display: flex;
    flex-grow: 1;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

header > ul > li {
    display: flex;
    margin: 0% auto;
    height: 100%;
    color: inherit;
}

header > ul > li button {
    background-color: #3dc662;
    color: #ffffff;
    border: none;
    padding: 0px 15px;
    font-size: 1em;
    cursor: pointer;
    height: 100%;
}
header > ul > li button:hover {
    background-color: #016d1e; 
}

main {
    height: 90%;
    margin-top: 5%; /* Adjust based on header height */
    margin-bottom: 5%; /* Adjust based on footer height */
    h1 {
        text-align: center;
    }
}

body > div {
    margin: 0px 10px;
}

.summary {
    text-align: center;
}

.resume {
    margin: 0;
    h3, h4 {
        margin: 0;
    }
    ul {
        margin-top: 0;
    }
}

.resume > h1{
    text-align: center;
}

.projects {
    span {
        text-align: center;
    }

    button {
        background-color: #3dc662;
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        font-size: 1em;
        cursor: pointer;
        margin: 0px 5px;
    }
}

.skills > li {
    list-style-type: disc;
}

.contact p {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; /* Ensures it spans the full width */
    height: 5%;
    width: 100%;
    background-color: #016d1e;
    p {
        height: 100%;
        margin: 0;
        color: #EEEEEE;
        text-align: center;
    }
    /* Add padding/margin to your main content to prevent overlap */
}