body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0; /* Ensures it spans the full width */
    height: 5%;
    width: 100%;
    /* Add padding/margin to your main content to prevent overlap */
    background-color: #3dc662;
    color: #ffffff;
    padding: 0px 10px;
    display: flex;
}

header h1 {
    display: inline-block;
    margin: auto;
    text-align: center;
}

header ul {
    display: flex;
    flex-grow: 1;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

header > ul > li {
    display: flex;
    margin: 0% auto;
    height: 100%;
    color: inherit;
}

.top-menu > ul > li a:hover {
    background-color: #016d1e; 
}

main {
    height: 90%;
    margin-top: 5%; /* Adjust based on header height */
    margin-bottom: 5%; /* Adjust based on footer height */
}

body > div {
    margin: 0px 10px;
}

.intro {
    margin: 0px;
    text-align: center;
}

h1 {
    text-align: center;
}

.intro > h1, .intro > h2 {
    margin: 0px;
}

.summary {
    text-align: center;
}

.resume {
    margin: 0px;
}

.resume > h1, h2, p {
    text-align: center;
}

.skills > li {
    list-style-type: disc;
}

.bottom {
    background-color: #016d1e;
    color: #EEEEEE;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0; /* Ensures it spans the full width */
  height: 5%;
  width: 100%;
  /* Add padding/margin to your main content to prevent overlap */
}